@import "tailwindcss";
@source "../**/*.{astro,html,js,jsx,ts,tsx,md,mdx}";

html, body {
  height: 100%;
}

body {
  background: #ffffff;
  color: #0f172a; /* slate-900 */
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial, "Noto Sans";
}
